.background-alert .custom-alert {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	width: 400px;
	max-width: 80%;
	height: auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background: linear-gradient(to bottom, #121F42, #222F52);
}
.background-alert {
	z-index: 99;
	display: none;
	position: fixed;
	top: 0; left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #00000088;
}

.background-alert .alert-content {
	text-align: center;
}

.background-alert .close-btn {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
	font-size: 20px;
	color: white;
}