* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Arial";
	user-select: none;
	overflow-x: hidden;
}

.main-container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
}
