.navigation {
	position: relative;
	width: 100%;
	height: 80px;
	background: rgb(2, 58, 2);
	background: linear-gradient(to right, rgb(2, 58, 2), green);

	display: flex;
	justify-content: space-between;
	user-select: none;
}

.navigation-link.active {
	pointer-events: none;
	color: rgb(49, 168, 69);
	cursor: default;
	text-decoration: none;
	text-shadow: 0 1px 1px black;
}

.navigation .left {
	display: flex;
	width: 50%;
	height: 100%;
}
.left-title {
	font-size: 3rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	margin-left: 20px;
	color: rgb(106, 233, 134);
	text-shadow: 0 5px 5px black;
}
.navigation .right {
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 20px;
	width: 50%;
	height: 100%;
}

.navigation-link {
	font-size: 1.5rem;
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-left: 30px;
}
.navigation-link:hover {
	color: #53d47a;
}

.profile-pic {
	height: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	object-fit: cover;

	background: lightgray;
	margin-left: 20px;
	cursor: pointer;
}

.profile-pic:hover {
	transform: scale(1.1);
}
