.register {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100vw;
	height: 100vh;
	background: #eee;
}

.register .register-card {
	display: flex;
	flex-direction: column;

	position: relative;
	width: 35%;
	height: auto;
	background: white;
	border-radius: 20px;
	box-shadow: 0 5px 5px #00000055;
	padding: 30px;
}


.register .register-card .top {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 10px;
}

.register .register-card .line {
	border-width: 1px;
	width: 60%;
}

.register .register-card .input-register,
.register .register-card .button-register {
	position: relative;
	width: 100%;
	padding: 15px;
	margin-top: 20px;
	border: none;
	outline: none;
	border-radius: 20px;
}

.register .register-card .name-container {
	display: flex;
	column-gap: 10px;
}

.register .register-card .input-register {
	border-bottom: 1px solid #555;
	background: #fafafa;
}

.register .register-card .button-register {
	background: black;
	color: white;
	font-size: 1.5rem;
	border-bottom: 1px solid white;
	box-shadow: 0 5px 5px #00000044;
	cursor: pointer;
	margin-bottom: 20px;
}

.register .register-card .button-register:hover {
	background: #333;
}

.register .register-card .account-check {
	margin-top: 30px;
	font-size: 1.1rem;
}

.register .register-card .account-check > a {
	font-weight: bold;
	text-decoration: none;
	color: #555;
}

@media (max-width: 900px) {
	.register .register-card {
		width: 50%;
	}
}

@media (max-width: 600px) {
	.register .register-card {
		width: 80%;
	}
}